[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
[submodule "brightspark-docs/themes/docsy"]
	path = brightspark-docs/themes/docsy
	url = https://github.com/google/docsy.git
